<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Sequence</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="container mt-5">
<h5><i>Create your own sequence and become proud of your math skills!</i></h5>
<form class="mt-5" method="post">
    <table>
        {{form}}
    </table>
    {% csrf_token %}
    <button type="submit" class="btn btn-success mt-2 mb-4">Create</button>
</form>
</br>

    <a href="/display" class="btn btn-primary" role="button">display all sequences</a>

    <a href="/farewell" class="btn btn-secondary" role="button">Exit the program</a>

</body>
</html>