<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display All Sequences</title>
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
    <link rel="stylesheet" href="/static/sequences/style.css">
</head>
<body class="container mt-5">
<h5><i>Here they are!!! Amazing sequences...</i></h5>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Sequence Number</th>
            <th>Name</th>
            <th>First Seven Terms</th>
            <th>Expression</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for sequence in sequences %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ sequence.name }}</td>
                <td>{% for term in sequence.first_seven_terms %}
                    <i>{{term}},</i>
                    {% endfor %}...
                </td>
                <td>{{ sequence.expression }}</td>
                <td>
                    <form method="post" action="{% url 'delete_sequence' sequence.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post" class="my-5">
    {% csrf_token %}
    {{ search_form.as_p }}
    <button type="submit" class="btn btn-primary">Search</button>
</form>


    <a href="?show_all=1" class="btn btn-warning">Show All</a>

</br>
<a href="?sort=asc" class="btn btn-info my-2">Sort Ascending</a>
<a href="?sort=none" class="btn btn-info my-2">No Sorting</a>
</br>

<a href="/add" class="btn btn-primary" role="button">
    add new sequence
</a>
<a href="/farewell" class="btn btn-secondary" role="button">
    Exit the program
</a>
</body>
</html>